@model Lost.ViewModel.RegisterSuccessViewModel
@{
    ViewBag.Title = "RegisterSuccess";
}
@using (Html.BeginForm("RegisterSuccess", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{

<p>Registration completed successfully</p>

    <p>
       <h3> Now complete your profile</h3>
    </p>

        <div class="form-group">
            
            <div class="col-md-10">
                <label for="UserName">First name:</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <label for="LastName">Last name:</label>
                 @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
           
            <div class="col-md-10">
                <label for="Email">Email:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            
            <div class="col-md-10">
                <label for="Phone">Phone:</label>
                 @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

    <p>
      <input type="submit" name="completeButton" id="completeButton" value="Complete">
    </p>
}