@model Lost.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
@using DB.Models
<form class="form-horizontal" action="" method="post">
    <div class="form-group">
        <div class="col-md-10">
            <label class="control-label">Lost</label>
            @Html.RadioButton("status", ItemStates.Lost, true, new { @class = "" })
            <label class="control-label">or Found?</label>
            @Html.RadioButton("status", ItemStates.Found, false, new { @class = "" })

        </div>
    </div>


    <div class="form-group">

            <input class="form-control horizontal-spacing" type="search" id="search" name="search" placeholder="something">
            <input class="btn btn-info" type="submit" name="searchButton" id="searchButton" value="Search">
            <input class="btn btn-success" type="submit" name="addButton" id="addButton" value="Add Your Thing">
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @if (Model.Length > 0)
                {


                    foreach (var p in Model.Things)
                    {

                        <div class="col-sm-6 col-md-4 vertical-spacing ">
                            <div class="thumbnail border-radius">

                                <div class="caption">
                                    <h3>@p.About</h3>
                                    <p>@p.Description</p>
                                    <p>@p.Place</p>
                                    <p>@Html.ActionLink("View", "ThingInfo", "Home", new { thingId = @p.Id }, new { @class = "btn btn-default ", @style = "background-color:#8080ff" })</p>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
        <p>@Model.Text</p>
</form>
