@model Lost.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">

        <p>
            <label>Lost...</label><br>
            @Html.RadioButton("status", "lost")<br>
            <label>...or Found?</label><br>
            @Html.RadioButton("status", "found")

        </p>
        <p>
            <label for="search">Search:</label><br>
            <input id="search" name="search" cols="40" rows="3">
            <input type="submit" name="searchButton" id="searchButton" value="Search">
        </p>
        <p>
            <input type="submit" name="addButton" id="addButton" value="AddYourThing">
        </p>
        <p>@Model.Text</p>
        @if (Model.Length > 0)
        {
            <table>
                <thead><tr><th>About     </th><th>Description     </th><th>Place     </th></tr></thead>
                <tbody>
                    @foreach (var p in Model.Things)
                    {
                        <tr>
                            <td>@p.About</td>
                            <td>@p.Description</td>
                            <td>@p.Place</td>
                            @*<td>@p.UserId</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        } 
    </form>

</body>
</html>
