@model Lost.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
@using DB.Models
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">

        <p>
            <label>Lost...</label><br>
            @Html.RadioButton("status", ItemStates.Lost, true)<br>
            <label>...or Found?</label><br>
            @Html.RadioButton("status", ItemStates.Found, false)

        </p>
        <p>
            <label for="search">Search:</label><br>
            <input type="search" id="search" name="search" cols="40" rows="3">
            <input type="submit" name="searchButton" id="searchButton" value="Search">
            <label>Or</label>
            <input type="submit" name="addButton" id="addButton" value="Add Your Thing">
        </p>
        <p>@Model.Text</p>
        @if (Model.Length > 0)
        {
            <header><h4>About Description Place</h4></header>
         
                    foreach (var p in Model.Things)
                    {
                      <article>@Html.ActionLink(@p.About + " " + @p.Description + " " + @p.Place, "ThingInfo", "Home",  new {thingId = @p.Id}, null)</article>  
                     
                   <!--   <table>
                <thead><tr><th>About     </th><th>Description     </th><th>Place     </th></tr></thead>
                <tbody>
                      <tr>
                    <td></td> 
                    <td></td>
                    <td></td>
                            @*<td>@p.UserId</td>*@
                        </tr>
                   
                </tbody>
            </table>--> 
        }  }
    </form>

</body>
</html>
