@using Microsoft.AspNet.Identity;
@using MongoDB.Bson;

@model Lost.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Thing Info";
}
@using DB.Models;
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form class="form-horizontal" action="" method="post">
        <div class="form-group">
              <div class="col-md-10">
                @Html.ActionLink("< Return", "Index", "Home", new { @class = "btn btn-default" })
            </div>
        </div>
           
       
        @{
            var UIGUI = User.Identity.GetUserId();
            var isMy = Model.UserId != null && UIGUI != null && Model.UserId.Equals(new ObjectId(UIGUI));
            var strDisabledAttribute = !isMy ? "disabled" : "";

            <div class="form-group">
                <label class="col-md-2 control-label" for="status">Status of thing:</label>
                <div class="col-md-10">
                    <input class="form-control" id="status" name="status" value=@Model.Status @strDisabledAttribute>
                </div>
            </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label" for="about">Title:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="about" name="about" value=@Model.About @strDisabledAttribute>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Description:</label>
                    <div class="col-md-10">
                        <input class="form-control" id="description" name="description" value=@Model.Description @strDisabledAttribute>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="place">Place, where this thing was @Model.Status</label>
                    <div class="col-md-10">
                        <input class="form-control" id="place" name="place" value=@Model.Place @strDisabledAttribute>
                    </div>
                </div>
            if (isMy)
            {
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input class="form-control" type="submit" name="deleteButton" id="deleteButton" value="Delete from list">
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input class="form-control" type="submit" name="editButton" id="editButton" value="Edit">
                    </div>
                </div>
            }



        }


        @{
            if (User.Identity.IsAuthenticated)
            {

                @Html.ActionLink("View user page", "UserProfile", "Home", new { userId = Model.UserId }, new { @class = "form-control" })  }          }
        @Html.ActionLink(" ", "ThingInfo", "Home", new { thingId = Model.ThingId }, null)@*Invisible view that make our program work*@
        <p>@Model.Text</p>

    </form>



</body>
</html>
