@model Lost.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Thing Info";
}
@using DB.Models
<!DOCTYPE html>
<html>
<body style="background-color: beige; font-family: Verdana, Arial;">
    <form action="" method="post">
        <style>
            textarea{
                resize: none
            }
        </style>
        <p>
            <label for="status">Status of thing:</label><br>
            <textarea id="status" name="status" cols="40" rows="3" disabled>@Model.Status</textarea>
        </p>
        <p>
            <label for="place">Place, where this thing was found or lost:</label><br>
            <textarea id="place" name="place" cols="40" rows="3" disabled>@Model.Place</textarea>
        </p>
        <p>
            <label for="about">Title:</label><br> @*title == about*@
            <textarea id="about" name="about" cols="40" rows="3" disabled>@Model.About</textarea>
        </p>
        <p>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" cols="40" rows="3" disabled>@Model.Description</textarea>
        </p>
        <p>
            <input type="submit" name="deleteButton" id="deleteButton" value="Delete from list">
            <input type="submit" name="editButton" id="editButton" value="Edit">
            <input type="submit" name="viewButton" id="viewButton" value="View user page">
        </p>
        <p>@Model.Text</p>
        
    </form>

</body>
</html>
