@using Microsoft.AspNet.Identity;
@using MongoDB.Bson;

@model Lost.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Thing Info";
}
@using DB.Models;

    <form class="form-horizontal" action="" method="post">
        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("< Return", "Index", "Home", new { @class = "btn btn-default", @style= "background-color:#d580ff" })
            </div>
        </div>


        @{
            var UIGUI = User.Identity.GetUserId();
            var isMy = Model.UserId != null && UIGUI != null && Model.UserId.Equals(new ObjectId(UIGUI));
            var strDisabledAttribute = !isMy ? "disabled" : "";

            <div class="form-group">
                <label class="col-md-2 control-label" for="status"style = "color:white">Status of thing:</label>
                <div class="col-md-10">
                    <input class="form-control" id="status" name="status" value="@Model.Status" @strDisabledAttribute>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="about"style = "color:white">Title:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" id="about" name="about" value="@Model.About" @strDisabledAttribute>
                </div>
            </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="description"style = "color:white">Description:</label>
                    <div class="col-md-10">
                        <input class="form-control" id="description" name="description" value="@Model.Description" @strDisabledAttribute>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="place"style = "color:white">Place, where this thing was @Model.Status</label>
                    <div class="col-md-10">
                        <input class="form-control" id="place" name="place" value=@Model.Place @strDisabledAttribute>
                    </div>
                </div>
            if (isMy)
            {
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input class="btn btn-danger" type="submit" name="deleteButton" id="deleteButton" value="Delete from list">
                        <input class="btn btn-warning" type="submit" name="editButton" id="editButton" value="Edit">
                    </div>
                </div>




            }



        }


        @{
            if (User.Identity.IsAuthenticated)
            {

                @Html.ActionLink("View user page", "UserProfile", "Home", new {userId = Model.UserId}, new {@class = "btn btn-success"})
            }
            else
            {


                <p>
                    @Html.ActionLink("Register a new user to see info about user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color:white"})
                </p>
            }
        }
        }
        @Html.ActionLink(" ", "ThingInfo", "Home", new { thingId = Model.ThingId }, null)@*Invisible view that make our program work*@
        <p>@Model.Text</p>

    </form>






