@model Lost.ViewModel.IndexViewModel
@using Microsoft.AspNet.Identity;
@using MongoDB.Bson;


@{
    ViewBag.Title = "User Profile";
}
@using DB.Models
    <form class="form-horizontal" action="" method="post">
        <p>@Model.Text</p>
        <p>
            @Html.ActionLink("< Return", "Index", "Home", new { thingId = Model.ThingId }, new { @class = "btn btn-default" })
        </p>
        @{
            var UIGUI = User.Identity.GetUserId();
            var isMy = Model.Id != null && UIGUI != null && Model.Id == UIGUI;
            var strDisabledAttribute = !isMy ? "disabled" : "";

            <div class="form-group">
                <label class="col-md-2 control-label" for="fname">First name:</label>
                <div class="col-md-10">
                    <input class="btn" id="fname" name="fname" value="@Model.UserName" @strDisabledAttribute>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="lname">Last name:</label>
                <div class="col-md-10">
                    <input class="btn" id="lname" name="lname" value="@Model.LastName" @strDisabledAttribute>
                </div>
            </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Email:</label>
                    <div class="col-md-10">
                        <input class="btn" id="email" name="email" value="@Model.Email" @strDisabledAttribute>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="phone">Phone:</label>
                    <div class="col-md-10">
                        <input class="btn" id="phone" name="phone" value="@Model.Phone" @strDisabledAttribute>
                    </div>
                </div>
            if (isMy)
            {
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input class="btn btn-warning" type="submit" name="editButton" id="editButton" value="Edit">
                    </div>
                </div>

            }



        }




    </form>

